/* 改变主题色变量 */
$--color-primary: #006569;

$primary: #006569;
$primary-bg-white: #fff;
$primary-bg: #EEF0F0;
$primary-btn-bg: rgba(0, 101, 105, 0.1);

$primary-chart: rgba(0, 101, 105, 0.6);

$primary-font: #006569;
$primary-font2: rgba(0, 101, 105, 0.85);
$primary-font3: rgba(0, 0, 0, 0.5);
$primary-font4: #666;
$primary-font5: #303133;
$primary-font3-highlight: rgba(255, 0, 0, 0.8);
$primary-font-white: #fff;
$primary-font3-gray: rgba(0, 0, 0, 0.45);

$primary-line: #D9D9D9;
$primary-line2: #F0F0F0;
